{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Wash</title>
    <link rel="stylesheet" href="{% static 'washapp/base.css' %}"/>
</head>
<body>
<nav class="nav-bar">
    <div class="page-links">
        <a href="{% url 'washapp:index' %}">Dashboard</a>
    </div>
    <div class="login-links">
        <a href="{% url 'washapp:login' %}">Login</a>
        <a href="{% url 'washapp:register' %}">Register</a>
    </div>
</nav>

{% block content %}

{% endblock %}

</body>
</html>