{% extends 'washapp/washapp-base.html' %}

{% block content %}

    <section class="page-content">
        <h2>My Cars</h2>
        <div class="grid">
            {% for car in cars %}
                <div class="card">
                    <header>
                        <h3>{{ car }}</h3>

                    </header>
                    <section>
                        <p>Active: {{ car.is_active }}</p>
                        <br/>

                        <form action="{% url 'washapp:delete_car' car.pk %}">
                            <button class="btn btn-warning">
                                Delete
                            </button>
                        </form>
                    </section>
                </div>
            {% endfor %}
        </div>

        {% include 'washapp/components/paginator.html' %}

        <div class="form-wrapper">
            <form class="form" method="post">
                {% csrf_token %}
                {% for field in car_form %}
                    {{ field.label }}
                    {{ field }}
                {% endfor %}
                <button class="btn" type="submit">Add Car</button>
            </form>
            {% if car_form.errors %}
                <div class="error-messages">
                    {{ car_form.errors }}
                </div>

            {% endif %}
        </div>
    </section>

{% endblock content %}