{% extends 'washapp/base.html' %}

{% block content %}
    <div>
        <header class="page-header">
            <div>
                <h1>Employee details</h1>

            </div>
            <div>
                <a href="{% url 'index' %}">Dashboard</a>
            </div>

        </header>
        <section class="page-content">
            <h2>{{ employee|capfirst }}</h2>
            <div class="orders">
                <header>
                    <select name='order_filter' id="order_filter">
                        <option selected value="0">All</option>
                        <option value="1">Day</option>
                        <option value="2">Week</option>
                        <option value="3">Month</option>
                    </select>
                    <button onclick="changeOrdersView(document.getElementById('order_filter').value)">Apply</button>
                </header>

                <section>
                    {% include 'washapp/detailsPage/orders.html' %}
                </section>

            </div>
        </section>



    </div>
    <script>
        const defaultView = document.getElementById('orders_default_id');
        const dayView = document.getElementById('orders_day_id');
        const weekView = document.getElementById('orders_day_week');
        const monthView = document.getElementById('orders_day_month');

        const changeOrdersView = (view = 1) => {
            if (view === '0') {
                defaultView.style = 'display: initial;';
                dayView.style = 'display: none;';
                weekView.style = 'display: none;';
                monthView.style = 'display: none;';
            } else if (view === '1') {
                defaultView.style = 'display: none;';
                dayView.style = 'display: initial;';
                weekView.style = 'display: none;';
                monthView.style = 'display: none;';
            } else if (view === '2') {
                defaultView.style = 'display: none;';
                dayView.style = 'display: none;';
                weekView.style = 'display: initial;';
                monthView.style = 'display: none;';
            } else {
                defaultView.style = 'display: none;';
                dayView.style = 'display: none;';
                weekView.style = 'display: none;';
                monthView.style = 'display: initial;';
            }
        }
    </script>
{% endblock content %}