{% extends 'washapp/base.html' %}

{% block content %}
    <a href="{% url 'washapp:employees' %}" class="btn fixed-top">&#10094;</a>
    <section class="page-content">
        <div class="avatar-wrapper">
            <img src="{{ employee.avatar.url }}" alt="employee_avatar" class="employee-detail-avatar"/>
        </div>
        <h2>{{ employee|capfirst }}</h2>
        <div class="orders">
            <header>
                <form>
                    <select name='orders_by' id="order_filter">
                        <option selected value="all">All</option>
                        {% if request.GET.orders_by %}
                            <option selected value="{{ request.GET.orders_by }}"
                                    hidden>{{ request.GET.orders_by|capfirst }}</option>
                        {% endif %}
                        <option value="day">Day</option>
                        <option value="week">Week</option>
                        <option value="month">Month</option>
                    </select>
                    <button class="btn" type="submit">
                        Apply
                    </button>
                </form>

            </header>

            <section>
                {% include 'washapp/detailsPage/orders.html' %}
                <div class="pages-wrapper">
                    <div class="pages-wrapper">
                        {% if page.has_previous %}
                            <a href="?page=1
            {% if request.GET.orders_by %}&orders_by={{ request.GET.orders_by }}{% endif %}">First</a>
                            <a href="?page={{ page.previous_page_number }}
            {% if request.GET.orders_by %}&orders_by={{ request.GET.orders_by }}{% endif %}">Previous</a>
                        {% endif %}
                        {% for num in page.paginator.page_range %}
                            {% if page.number == num %}
                                <a class="disabled">{{ num }}</a>
                            {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
                                <a href="?page={{ num }}
            {% if request.GET.orders_by %}&orders_by={{ request.GET.orders_by }}{% endif %}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page.has_next %}
                            <a href="?page={{ page.next_page_number }}
            {% if request.GET.orders_by %}&orders_by={{ request.GET.orders_by }}{% endif %}">Next</a>
                            <a href="?page={{ page.paginator.num_pages }}
            {% if request.GET.orders_by %}&orders_by={{ request.GET.orders_by }}{% endif %}">Last</a>
                        {% endif %}
                    </div>
                </div>
            </section>

        </div>
    </section>

    <script>
        const defaultView = document.getElementById('orders_default_id');
        const dayView = document.getElementById('orders_day_id');
        const weekView = document.getElementById('orders_day_week');
        const monthView = document.getElementById('orders_day_month');

        const changeOrdersView = (view = 1) => {
            if (view === '0') {
                defaultView.style = 'display: initial;';
                dayView.style = 'display: none;';
                weekView.style = 'display: none;';
                monthView.style = 'display: none;';
            } else if (view === '1') {
                defaultView.style = 'display: none;';
                dayView.style = 'display: initial;';
                weekView.style = 'display: none;';
                monthView.style = 'display: none;';
            } else if (view === '2') {
                defaultView.style = 'display: none;';
                dayView.style = 'display: none;';
                weekView.style = 'display: initial;';
                monthView.style = 'display: none;';
            } else {
                defaultView.style = 'display: none;';
                dayView.style = 'display: none;';
                weekView.style = 'display: none;';
                monthView.style = 'display: initial;';
            }
        }
    </script>
{% endblock content %}