{% extends 'washapp/base.html' %}

{% block content %}
    <div>

        <section class="page-content">
            <header>
                <h2></h2>
            </header>
            <section class="grid" style="grid-template-columns: 1fr 1fr;">
                <div class="card">
                    <header>
                        <h2>Total Cars: {{ car_count }}</h2>
                    </header>
                    <section>
                        <a href="{% url 'washapp:cars' 0 %}">Cars</a>
                    </section>
                </div>
                <div class="card">
                    <header>
                        <h2>Total Employees: {{ employee_count }}</h2>
                    </header>
                    <section>
                        <a href="{% url 'washapp:employees' %}?page=1">Employees</a>
                    </section>
                </div>
            </section>
        </section>


        <section class="page-content">
            <div class="order-form-wrapper">
                <header>
                    <h2>Place an Order</h2>
                </header>
                <section>
                    <form class="order-form" method="post">
                        {% csrf_token %}
                        {{ order_form }}
                        <button type="submit" class="btn">Place</button>
                    </form>
                </section>

            </div>


        </section>

    </div>
{% endblock %}