{% extends 'washapp/base.html' %}

{% block content %}
    <div>
        <header class="page-header">
            <h1>Dashboard</h1>

            <div class="search-bar">
                <form>
                    <input type="text" name="name" placeholder="Name or Lastname"/>
                    <button type="submit" class="btn">Search</button>
                </form>
            </div>
        </header>
        <section class="page-content">
            <header>
                <h2></h2>
            </header>
            <section class="grid" style="grid-template-columns: 1fr 1fr;">
                <div class="card">
                    <header>
                        <h2>Total Cars: {{ car_count }}</h2>
                    </header>
                    <section>
                        <a href="{% url 'cars' 0 %}">Cars</a>
                    </section>
                </div>
                <div class="card">
                    <header>
                        <h2>Total Employees: {{ employee_count }}</h2>
                    </header>
                    <section>
{#                        <a href="{% url 'employees' 0 %}">Employees</a>#}
                    </section>
                </div>
            </section>
        </section>


        <section class="page-content">
            <div class="order-form-wrapper">
                <header>
                    <h2>Place an Order</h2>
                </header>
                <section>
                    <form class="order-form" method="post">
                        {% csrf_token %}
                        {{ order_form }}
                        <button type="submit" class="btn">Place</button>
                    </form>
                </section>

            </div>
            <div>
                <header>
                    <h2>Employees</h2>
                </header>
                <table class="table" id="employees-table">
                    <thead>
                    <tr>
                        <th>
                            Employee
                        </th>
                        <th></th>
                    </tr>

                    </thead>
                    <tbody>
                    {% if not employees %}
                        <td style="width: 100%;">
                            <h3 style="text-align: center">No Data</h3>
                        </td>
                    {% endif %}

                    {% for employee in employees %}

                        <tr class="card">
                            <td>
                                {{ employee }}
                            </td>
                            <td>
                                <a href="{% url 'detail' employee.pk %}" style="color: white;" class="btn">Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>


                </table>

            </div>


        </section>

    </div>
{% endblock %}