{% extends 'base/base.html' %}

{% block navigation %}
    <nav class="nav-bar">
        <div class="page-links">
            <a href="{% url 'washapp:index' %}">Dashboard</a>
        </div>
        {% if request.user.is_authenticated %}
            <div class="login-links">
                <a href="{% url 'washapp:logout' %}">Log Out</a>
                <a href="{% url 'washapp:detail' request.user.id %}"><img src="{{ request.user.avatar.url }}" class="avatar"/></a>
            </div>
        {% else %}
            <div class="login-links">
                <a href="{% url 'washapp:login' %}">Login</a>
                <a href="{% url 'washapp:register' %}">Register</a>
            </div>
        {% endif %}
    </nav>
{% endblock navigation %}

{% block content %}

{% endblock %}