{% extends 'base/base.html' %}

{% block content %}

    <div class="login-form-wrapper">
        <div class="login-form">
            <form method="post">
                {% csrf_token %}
                {% for field in register_form %}
                    <div class="input-wrapper">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn">Sign Up</button>
            </form>
            <div class="error-messages">
                {{ register_form.errors }}
            </div>
            <div class="login-links-wrapper">
                <p>
                    Already Registered? <a href="{% url 'users:login' %}">Sign In</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}