{% extends 'base/base.html' %}

{% block content %}
    <div class="login-form-wrapper">
        <div class="login-form">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-wrapper">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn">Send</button>
                <div class="error-messages">
                    {{ register_form.errors }}
                </div>
            </form>
            <div class="login-links login-links-wrapper">
                <p>
                    Join Us Today <a href="{% url 'users:register' %}">Sign Up</a>
                </p>
                <p>
                   Already Registered? <a href="{% url 'users:login' %}">Sign In</a>
                </p>
            </div>
        </div>


    </div>
{% endblock %}