:root {
    --light-blue: rgb(65, 128, 255);
    --blue: #152db1;
    --green: #379637;
    --red: #ff4949;
    --light-green: #59ff20;
    --teal: #006464;
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.btn {
    height: 2em;
    cursor: pointer;
    box-shadow: 0 0 20px -5px black;
    transition: 0.3s ease-out;
    outline: none;
}

.btn:hover {
    background-color: var(--red);
    border: 1px solid var(--red);
    box-shadow: 0 0 20px 5px var(--red);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    width: 80%;
    margin: 0 auto;
}

.card {
    width: 100%;
    min-height: 250px;
    background: linear-gradient(var(--blue), white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    transition: 1s;
    box-shadow: 0 0 10px -5px black;
}


.card a {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.card button {
    width: 100%;
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
}

.card button:hover {
    background-color: white;
    border: 1px solid var(--light-green);
    box-shadow: 0 0 20px -5px var(--light-green);
}

.success {
    color: var(--green);
}

.error {
    color: var(--red);
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;
    background: linear-gradient(var(--light-green), var(--teal));
    color: white;
}

.dashboard-header button {
    border: 0;
    min-width: 100px;
}

.dashboard-header button:hover {
    background-color: var(--red);
    border: 1px solid var(--red);
    box-shadow: 0 0 20px 5px var(--red);
}

.booths {
    text-align: center;
    background-color: var(--teal);
    padding: 50px 0;
    min-height: 75vh;
}

.booths h2 {
    margin-bottom: 25px;
}

.login-form {
    width: 45%;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    background-color: var(--teal);
    font-weight: bold;
}

.login-field-wrapper {
    width: 100%;
    padding: 25px 0;
    box-sizing: border-box;
}

.login-field-wrapper > input {
    width: 45%;
    height: 2.5em;
    padding: 5px;
    display: block;
    margin: 0 auto;
    outline: none;
    border: 1px solid;
    transition: 0.3s ease-out;
}

.login-field-wrapper > input:focus {
    width: 60%;
    box-shadow: 0 0 20px 5px var(--light-green);
    border: 1px solid var(--light-green);
}

.login-field-wrapper > button,
.login-field-wrapper > a {
    width: 60%;
    display: block;
    margin: 0 auto;
}
