:root {
    --gray-blue: #919cb0;
    --gray-blue-dark: #4f4f7e;
    --blue: #2a58ff;
    --graphite: #242428;
    --lime: #69ff2f;
    --yellow: #fff52a;
    --green: #3d913d;
    --red: #ff2c2c;
}

/* defaults */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Roboto", "Lucida Grande", Verdana, sans-serif;
    font-weight: 700;
    background: rgba(0, 0, 255, 0.7);
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

a:hover {
    text-decoration: underline;
}

/* end defaults */

.nav-bar {
    width: 95%;
    margin: 25px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    background: var(--graphite);
}

.page-links {
    flex: 8;
}

.login-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
}


/* button */

.btn {
    padding: 0.5em;
    background-color: var(--graphite);
    color: white;
    cursor: pointer;
    border: 1px solid var(--graphite);
    box-shadow: 0 0 20px -5px black;
    border-radius: 2px;
    outline: none;
}

.btn:hover {
    border: 1px solid var(--lime);
    box-shadow: 0 0 20px -5px var(--lime);
    background-color: var(--blue);
    color: white;
    transition: 0.3s ease-out;
}

.btn:active {
    transform: scale(0.9);
}

.btn-large {
    width: 350px;
    padding: 1.2em;
}

.btn-warning {
    background-color: var(--red);
}

a.btn {
    text-decoration: none;
    opacity: 30%;
}

a.btn:hover {
    opacity: 1;
}

/* buttons */
/* table */

.table {
    border-collapse: collapse;
    box-shadow: 0 0 10px -5px black;
    width: 100%;
    margin: 0 auto;
    background: white;
}

.table > thead {
    text-align: left;
    color: var(--gray-blue-dark);
    background-color: var(--gray-blue);
}

.table tr {
    border-bottom: 1px solid var(--gray-blue);
}

.table th,
.table td {
    box-sizing: border-box;
    padding: 15px;
}

/* end table */
/* search bar */

.search-bar {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}

.search-bar > form {
    margin: 0 auto;
    box-sizing: border-box;
}

.search-bar button {
    background-color: white;
    border: 1px solid white;
    color: var(--graphite);
    padding: 0.7em;
    box-shadow: 0 0 10px -5px var(--lime);
    font-weight: 700;
}

.search-bar input {
    outline: none;
    padding: 0.7em;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 10px -5px var(--lime);
    font-weight: 700;
}

/* end search bar */

.page-header {
    box-sizing: border-box;
    margin: 5vh auto;
    padding: 5px 25px;
    width: 95%;
    display: flex;
    background: var(--graphite);
    justify-content: space-between;
    color: white;
    box-shadow: 0 0 20px -5px black;
}

.page-header a {
    display: block;
    margin: 10px auto auto;
}

.page-content {
    margin-top: 15px;
}

.page-content h2 {
    text-align: center;
}

.page-content > header > h2 {
    text-align: center;
    margin: 15px 0;
}

/* orders */

.orders {
    width: 100%;
    margin: 0 auto;
}

.orders > header > form {
    display: flex;
    width: 70%;
    margin: 0 auto 5px;
}

#order_filter {
    width: 25%;
    margin-right: 15px;
}

.orders > section {
    width: 70%;
    margin: 0 auto;
}

/* end orders */

#employees-table {
    width: 90%;
    margin: 25px auto;
}

#employees-table a {
    color: black;
    font-size: 1em;
}

.status {
    text-align: center;
    padding: 0.4em;
    border-radius: 5px;
}

.status-completed {
    background-color: var(--lime);
}

.status-pending {
    background-color: var(--yellow);

}

/* order form */

.order-form-wrapper {
    text-align: center;
    width: 35%;
    background: white;
    box-sizing: border-box;
    padding: 35px;
    box-shadow: 0 0 20px -5px var(--graphite);
    margin: 50px auto 35px;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form > *:not(label) {
    padding: 0.4em 0;
    margin: 5px auto;
    width: 70%;
    box-sizing: border-box;
    transition: 0.3s ease-out;
    outline: none;
    text-align: center;
}

.form > *:not(label):focus {
    width: 99%;
    border: 1px solid var(--lime);
    box-shadow: 0 0 20px -5px var(--lime);
}

.form-wrapper {
    width: 55%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 5px var(--graphite);
}

/* end order form */
/* grid */

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.card {
    width: 85%;
    box-sizing: border-box;
    margin: 0 auto;
    background: var(--green);
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 0 15px -5px black;
    color: white;
}

.large {
    width: 90%;
}

.card > header {
    border: inherit;
    padding: 20px;
    box-sizing: border-box;
    border-radius: inherit;
    text-align: center;
    background: var(--lime);
}

.card .image {
    border-radius: 50%;
    width: 50px;
    box-shadow: 0 0 20px -5px var(--graphite);
    background: white;
}

.card > section {
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

/* end grid */

/* page switcher */
.pages-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px auto;
}

.pages-wrapper a {
    color: var(--green);
    display: inline-block;
    background: white;
    padding: 5px;
    margin: 0 1px;
    border: 1px solid var(--green);
    border-radius: 5px;
    box-shadow: 0 0 10px -5px black;
    text-decoration: none;
}

a.disabled {
    background-color: var(--blue);
    color: white;
    cursor: not-allowed;
}


.pages-wrapper a:hover {
    background: var(--blue);
    color: white;
    transition: 0.3s ease-out;
}

/* end page switcher */

.center {
    margin: 0 auto;
    text-align: center;
}

.hide {
    display: none;
}

.employee-detail-avatar {
    width: 150px;
    margin: 0 auto;
}

.avatar-wrapper {
    margin: 0 auto;
    width: 70%;
    text-align: left;
}

.fixed-top {
    position: fixed;
    top: 50%;
    left: 2.5%;
}

.input-wrapper {
    text-align: left;
    max-width: 100%;
}

.input-wrapper > label {
    display: block;
}

.input-wrapper > input {
    box-sizing: border-box;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 100%;
}

.login-form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    box-sizing: border-box;
    width: 350px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px -5px black;
    border-radius: 2px;
}

.login-form > form {
    margin-top: 40%;
}

.login-form-wrapper {
    text-align: center;
}

.error-messages {
    color: var(--red);
    text-align: left;
}

.error-messages > ul > li {
    margin: 10px 0;
}

.login-links-wrapper {
    position: relative;
    bottom: -30%;
}

.avatar {
    width: 20px;
    border-radius: 50%;
}