<div id="orders_default_id">
    <table class="table">
        <thead>
        <tr>
            <th>Order Number</th>
            <th>Car</th>
            <th>Booth</th>
            <th>Washer</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.pk }}</td>
                <td>{{ order.car }}</td>
                <td>{{ order.wash_booth }}</td>
                <td>{{ order.washer }}</td>
                <td>{{ order.price }}</td>
                <td>
                    {% if order.status == "Pending" %}
                        <div class="status status-pending">
                            {{ order.status }}
                        </div>
                    {% else %}
                        <div class="status status-completed">
                            {{ order.status }}
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>